{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts
        'bundles/padelsite/js/jquery.autocomplete.min.js'
    %}
    <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

{% endblock %}
{% block body %}
	
	
	<div class="overzichtreservaties">
		<div class="controls">
			<div id="datumvorige" class="col-xs-3">
				<i class="fa  fa-angle-double-left">&nbsp;&nbsp;{{ "yesterday"|localizeddate('none', 'none', 'nl_NL', null, "cccc d MMMM") }}</i>
			</div>
			<div id="datumvandaag" class="col-xs-6">
				{{ "now"|localizeddate('none', 'none', 'nl_NL', null, "cccc d MMMM") }}
			</div>
			<div id="datumvolgende" class="col-xs-3">
				<i class="fa ">{{ "tomorrow"|localizeddate('none', 'none', 'nl_NL', null, "cccc d MMMM") }}</i>&nbsp;&nbsp;<i class="fa  fa-angle-double-right"></i>
			</div>
			<span id="datumvandaaghidden" style="display: none">{{ "now"|date("m/d/Y") }}</span>
		</div>
		<table class="table table-bordered">
			<thead>
				<th>
					
				</th>
				{% for veld in velden %}
				    <th>
				    	{{ veld.naam }}<br/>
				    	<span class="overdekt">
				    		{% if veld.overdekt %}
				    			<img data-toggle="tooltip" data-placement="bottom" title="Overdekt" class="icoon-veld" src="/bundles/padelreservatie/images/overdekt.png" alt="Dubbelveld" />
				    		{% endif %}
				    	</span>
				    	<span class="typeveld">
				    		{% if veld.typeveld.naam == "Dubbelveld" %}	
				    				
								    <img data-toggle="tooltip" data-placement="bottom" title="Dubbelveld" class="icoon-veld" src="/bundles/padelreservatie/images/dubbelveld.png" alt="Dubbelveld" />
				    		{% else %}
			    					<img data-toggle="tooltip" data-placement="bottom" title="Enkelveld" class="icoon-veld" src="/bundles/padelreservatie/images/enkelveld.png" alt="Dubbelveld" />
				    		{% endif %}
				    	</span>	
				    </th>
				{% endfor %}
			</thead>
			
			{% set start_date_kort = startuur|date("H") %}
			{% set end_date_kort = einduur|date("H") %}
			{% set regelovergeslaan = false %}
			{% for uur in range(start_date_kort,end_date_kort,0.5) %}
				
				{% set uur = uur|replace({'.5':':30', '.0':':00'}) %}
					
				{% if uur|length == 1 %}
					{% set uur = "0" ~ uur %}
				{% endif %}
				{% if uur|length == 2 %}
					{% set uur = uur ~ ":00" %}
				{% endif %}
				{% if uur|length == 4 %}
					{% set uur = "0" ~ uur %}
				{% endif %}
				
				{% if uur >= startuur|date("H:i") %}
						{% set einde_kortuur = (uur[:2]+1) ~ uur[2:] %}
					   	<tr>{% spaceless %}
					   		{% if loop.index == 1 or (loop.index is even and regelovergeslaan)  %}
						   		<td class="uur" rowspan=2>{% spaceless %}
						   			{{ uur }} : {{ einde_kortuur }}
						   		{% endspaceless %}</td>
					   		{% endif %}
							{% for veld in velden %}

								{% set start_uur_kort = veld.startuur|date("H:i") %}
								{# veld.startuur|date("i") }} en {{ uur[3:2] #}
								{% if veld.startuur|date("i") == uur[3:2] %}
					   		
							   		{# We zitten in een lijn waarvan het startuur gelijk is aan het getoonde uur links #}
							   		<td rowspan=2 class="veld vrij" id="veld{{ veld.volgorde }}{{ uur|replace(':','t') }}">{% spaceless %}
										vrij
									{% endspaceless %}</td>
							   	{% else %}
									{% if loop.parent.loop.first or (loop.parent.loop.index == 2 and regelovergeslaan) %}
										<td class="tehoog">{% spaceless %}
											
										{% endspaceless %}</td>
									
									{% endif %}
							   	{% endif %}

							{% endfor %}
					   	{% endspaceless %}</tr>
					{% else %}
						{% set regelovergeslaan = true %}
							
					{% endif %}
			{% endfor %}
			
			
		</table>
	</div>
	<div id="modalbevestig" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Sluit"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Reserveren</h4>
	      </div>
	      <div class="modal-body">
	        <div class="row">
	        	<div class="col-sm-4">
	        		Datum :
	        	</div>
	        	<div id="reservatiedatum" class="col-sm-8">
	        		26/05/2015
	        	</div>
	        	<div class="col-sm-4">
	        		Uur :
	        	</div>
	        	<div id="reservatieuur" class="col-sm-8">
	        		16:00 - 17:00
	        	</div>
	        	<div class="col-sm-4">
	        		Veld :
	        	</div>
	        	<div id="reservatieveld" class="col-sm-8">
	        		1 
	        	</div>
	        </div>
	        <div class="row medespelers">
				<div class="col-sm-4">
	        		Medespelers :
	        	</div>
	        	<div class="col-sm-8">
					<div id="searchfield">
					    <form><input type="text" name="currency" class="biginput" id="autocomplete"></form>
					  </div><!-- @end #searchfield -->
					  <div id="outputbox">
					    <p id="outputcontent"></p>
					  </div>
 
	        	</div>
				
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
	        <button type="button" class="btn wit btn-primary">Bevestig</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class="modalloading"><!-- Place at bottom of page --></div>

	<script>
	$(function() {
	    	

	  var leden = [

	  	{% for lid in leden %}

	  		{ id: {{ lid.id }}, value: '{{ lid.firstname }} {{ lid.lastname }}' } {{ not loop.last ? ',' }}

	  	{% endfor %}

    
  ];

	  $('#autocomplete').autocomplete({
	  lookup: leden,
	  onSelect: function (suggestion) {
	    var thehtml = '<strong>Naam:</strong> ' + suggestion.value + ' <br> <strong>Id:</strong> ' + suggestion.id;
	    $('#outputcontent').html(thehtml);
	  }
	});


	  });
	
		function reposition() {
	      var modal = $(this),
	          dialog = modal.find('.modal-dialog');
	          modal.css('display', 'block');
	      
	      // Dividing by two centers the modal exactly, but dividing by three 
	      // or four works better for larger screens.
	      dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
	  }

		$('#modalload').on('show.bs.modal', reposition);
		$('#modalload:visible').each(reposition);

	</script>



	<script>

		{% for veld in reservatiesperveld %}
			{% for reservatie in veld %}
				{% set naam = "" %}
				{% for speler in reservatie.padelUser %}
					{% set naam = naam ~ speler.firstname ~ " " ~ speler.lastname %}
					{% if not loop.last %}
						{% set naam = naam ~ "<br>" %}
					{% endif %}
				{% endfor %}
				

				{% set startuur = reservatie.startuur|date("H:i")|replace(':','t') %}
				{% set veldid = 'veld' ~ reservatie.veld.volgorde ~ startuur %}
				$veld = $('#{{ veldid }}');
				$veld.addClass('bezet');
				$veld.addClass('{{ reservatie.reservatietype.naam }}');
				$veld.removeClass('vrij');
				$veld.html('{{ naam|raw }}');


				
				//$('#{{ veldid }}').html('{{ reservatie.speler1 }}');

			{% endfor %}
		{% endfor %}
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
		$('.vrij').click(function(){
			$naamveld = $(this).attr('id');
			$nummerveld = $naamveld.substr(4,1);
			$uur = $naamveld.substr(5,2);
			$minuten = $naamveld.substr(8,2);
			console.log("We spelen op veld " + $nummerveld + " van " + $uur + ":" + $minuten);
			$datum = $('#datumvandaag').html();
			$('#reservatieveld').html($nummerveld);
			$('#reservatiedatum').html($datum);
			$('#reservatieuur').html($uur + ":" + $minuten + " - " + (parseInt($uur)+1) + ":" + $minuten);

			$('.modal').modal();
		})

		function reposition() {
	      var modal = $(this),
	          dialog = modal.find('.modal-dialog');
	          modal.css('display', 'block');
	      
	      // Dividing by two centers the modal exactly, but dividing by three 
	      // or four works better for larger screens.
	      dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
	  }
	  
	  $('#modalbevestig').on('show.bs.modal', reposition);
	  
	    // Reposition when the window is resized
	  $(window).on('resize', function() {
	      $('#modalbevestig:visible').each(reposition);
	      
	  });

	  $('#datumvorige').click(function(){
	  	$datum = new Date($('#datumvandaaghidden').html());
	  	$datum.setDate($datum.getDate()-1);
	  	LaadVoorDatum($datum);
	  })

	  $('#datumvolgende').click(function(){
	  	$datum = new Date($('#datumvandaaghidden').html());
	  	$datum.setDate($datum.getDate()+1);
	  	LaadVoorDatum($datum);
	  })

	  $(document).on({
	      ajaxStart: function() { $('body').addClass("loading");    },
	       ajaxStop: function() { $('body').removeClass("loading"); }    
	  });

	  function LaadVoorDatum($datum){
	  	console.log("We laden voor datum : " + $datum);
	  	//alert(Routing.generate('reservatie_op_datum', {"datum": $datum}));
	  	//
	  	$dag = $datum.getDate();
	  	//$dag = 27;
	  	$maand = parseInt($datum.getMonth())+1;

	  	$jaar = $datum.getFullYear();
	  	
	  	moment.locale('nl');

	  	$nieuwedag = moment($datum);
	  	$nieuwevorigedag = moment($datum);
	  	$nieuwevolgendedag = moment($datum);

	  	$nieuwedag.locale('nl');
	  	$nieuwevorigedag.subtract(1, "day");
	  	$nieuwevolgendedag.add(1,"day");
	  		  	
		$('#datumvandaag').html($nieuwedag.format('dddd DD MMMM'));
		$('#datumvorige').html($nieuwevorigedag.format('dddd DD MMMM'));
		$('#datumvolgende').html($nieuwevolgendedag.format('dddd DD MMMM'));
		$('#datumvandaaghidden').html($nieuwedag.format(''));

	  	$('#modalload').modal('show');

	  


		$.ajax({
		  url: Routing.generate('reservatie_op_datum', {"dag": $dag, "maand": $maand, "jaar": $jaar}),
		  dataType: 'json',
		})
		  .done(function(data){
		  	//console.log(data);

		  	$('.veld.bezet').each(function(){
		  		$(this).removeClass();
		  		$(this).addClass('veld');
		  		$(this).addClass('vrij');
		  		$(this).html('vrij');

		  		
		  	})
		  	jQuery.each(data, function(index, item) {
            	if(!$.isEmptyObject(item)){
            		jQuery.each(item, function(indexreservatie, reservatie) {
            			
            			$startuur = moment(reservatie.startuur).format("HH") + ":" + moment(reservatie.startuur).format("mm");
            			$einduur = (parseInt(moment(reservatie.startuur).format("HH"))+1) + ":" + moment(reservatie.startuur).format("mm");

            			$veld = reservatie.veld.volgorde;
		            	
		            	$veldnaam = "#veld" + $veld + moment(reservatie.startuur).format("HH") + "t" + moment(reservatie.startuur).format("mm");
		            	$($veldnaam).addClass('bezet');
		            	$($veldnaam).removeClass('vrij');

		            	$spelers = "";
		            	jQuery.each(reservatie.padel_user, function(indexspeler, speler) {
		            		$spelers = $spelers + speler.firstname + " " + speler.lastname + "<br/>";
		            	})
		            	if($spelers.length){
		            		$spelers = $spelers.substr(0,($spelers.length-5));
		            	}
		            	$($veldnaam).html($spelers);

		        	});
            	}
        	});

		  })
		  .fail(function( data, statuscode ) {
		    alert("Fout");
		  });

		$('#modalload').modal('hide');
	  }


	</script>
{% endblock %}